@import "@phosphor-icons/web/regular"; /* Style Regular (Garis Tipis) */
@import "@phosphor-icons/web/fill";    /* Style Fill (Isi Penuh - opsional) */
@import "@phosphor-icons/web/bold";    /* Style Bold (Tebal - opsional) */

@tailwind base;
@tailwind components;
@tailwind utilities;

